<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127256749911-8nvrgb0ddsto15lg0b4s3nsujgm79quk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127256749911-8nvrgb0ddsto15lg0b4s3nsujgm79quk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>127256749911-tqcpo7lh74jum25cu875e6k42vl0s4a9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3nbP0gQezW1QxFSb00xJMxsq5tV1rA-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>127256749911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.altruists-secure-bangla</string>
	<key>PROJECT_ID</key>
	<string>altruist--bangla</string>
	<key>STORAGE_BUCKET</key>
	<string>altruist--bangla.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127256749911:ios:2a8f7226b8209225568012</string>
	<key>DATABASE_URL</key>
	<string>https://altruist--bangla.firebaseio.com</string>
</dict>
</plist>