<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860899819131-k9d3q6rq3r054p4amar09vsofmlvbddp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860899819131-k9d3q6rq3r054p4amar09vsofmlvbddp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>860899819131-dn9v2cghfh230399b6uiqf7t6o8ikte0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAxDM8nPIXWhKv9drL4e_ofHZoKm9005IM</string>
	<key>GCM_SENDER_ID</key>
	<string>860899819131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.insurance.noonSecure</string>
	<key>PROJECT_ID</key>
	<string>noon-6d509</string>
	<key>STORAGE_BUCKET</key>
	<string>noon-6d509.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860899819131:ios:439b43db70adbb1d8dacde</string>
	<key>DATABASE_URL</key>
	<string>https://noon-6d509.firebaseio.com</string>
</dict>
</plist>