<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546729323779-ha11amm6mltnisa9i8mvqq8klb92521u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546729323779-ha11amm6mltnisa9i8mvqq8klb92521u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>546729323779-v7ia3b0n3d7j3aqqhqfcdrd8kn8rk6n7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIrU48L_KEK1cMm-jCu3PspRmOTnRlJZY</string>
	<key>GCM_SENDER_ID</key>
	<string>546729323779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.socialcross.socialcrossmainapp</string>
	<key>PROJECT_ID</key>
	<string>socialcross</string>
	<key>STORAGE_BUCKET</key>
	<string>socialcross.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546729323779:ios:93738b54be218352b8cd36</string>
	<key>DATABASE_URL</key>
	<string>https://socialcross.firebaseio.com</string>
</dict>
</plist>